<!-- inc:header -->
<!-- if($tlist && count($tlist)>0) -->

<div class="main">
  <table width="100%" style="layout:fixed;" cellpadding="0" cellspacing="0">
    <tr>
      <td class="t_sub" width="50%"><div align="left">&nbsp; 未审核数据统计</div></td>
      <td class="t_sub">&nbsp;</td>
    </tr>
    <tr class="tr_out"> 
      <!-- $tlist AS $key=>$value -->
      <td class="{:($key+1)%2 ? 'tc_left' : 'tc_right'}" height="25px">&nbsp; &nbsp;{:$value[title]}： <span class="red">{:$value[total]}</span></td>
      <!-- row:2 --> 
      <!-- end --> 
    </tr>
  </table>
</div>
<!-- end -->

<div class="main">
  <table width="100%" style="layout:fixed;" cellpadding="0" cellspacing="0">
    <tr>
      <td class="t_sub" width="50%"><div align="left">&nbsp; 数据统计</div></td>
      <td class="t_sub">&nbsp;</td>
    </tr>
    <tr class="tr_out">
      <td class="tc_left" height="25px">&nbsp; &nbsp;主题总数： <span class="darkblue">{:$title_total}</span></td>
      <td class="tc_right">&nbsp; &nbsp;回复总数： <span class="darkblue">{:$reply_total}</span></td>
    </tr>
    <tr class="tr_out">
      <td class="tc_left" height="25px">&nbsp; &nbsp;订单总数： <span class="darkblue">{:$order_total}</span></td>
      <td class="tc_right">&nbsp; &nbsp;附件总数： <span class="darkblue">{:$files_total}</span></td>
    </tr>
  </table>
</div>
<div class="main">
  <table width="100%" style="layout:fixed;" cellpadding="0" cellspacing="0">
    <tr>
      <td class="t_sub" width="50%"><div align="left">&nbsp; 服务器环境，<a href="{:site_url('home,info')}" target="_blank" style="color:#FFF;">点此查看PHPINFO信息</a></div></td>
      <td class="t_sub">&nbsp;</td>
    </tr>
    <tr class="tr_out">
      <td class="tc_left" height="25px">&nbsp; &nbsp;服务器系统： <span class="darkblue">{:php_uname()}</span></td>
      <td class="tc_right">&nbsp; &nbsp;PHP版本：<span class="darkblue">{:PHP_VERSION}</span></td>
    </tr>
    <tr class="tr_out">
      <td class="tc_left" height="25px">&nbsp; &nbsp;附件上传： <span class="darkblue">{:get_cfg_var("upload_max_filesize")}</span></td>
      <td class="tc_right">&nbsp; &nbsp;GD信息：<span class="darkblue">{:$gdinfo}</span></td>
    </tr>
    <tr class="tr_out">
      <td class="tc_left" height="25px">&nbsp; &nbsp;服务器引挈： <span class="darkblue">{:$_SERVER['SERVER_SOFTWARE']}</span></td>
      <td class="tc_right">&nbsp; &nbsp;PHP运行方式：<span class="darkblue">{:php_sapi_name()}</span></td>
    </tr>
    <tr class="tr_out">
      <td class="tc_left" height="25px">&nbsp; &nbsp;Socket支持： <span class="darkblue">{:function_exists('socket_accept') ? '<span class="darkblue">支持</span>' :'<span class="red">不支持</span>'} </td>
      <td class="tc_right">&nbsp; &nbsp;程序最长运行时间：<span class="darkblue">{:get_cfg_var('max_execution_time')} 秒</span></td>
    </tr>
    <tr class="tr_out">
      <td class="tc_left" height="25px">&nbsp; &nbsp;自动定义全局变量： {:function_exists('register_globals') ? '<span class="darkblue"><b>YES</b></span>' :'<span class="red"><b>NO</b></span>'} </td>
      <td class="tc_right">&nbsp; &nbsp;使用URL打开文件：{:function_exists('allow_url_fopen') ? '<span class="darkblue">是，允许</span>' : '<span class="red">不允许</span>'} </td>
    </tr>
  </table>
</div>
<div class="main">
  <table width="100%" style="layout:fixed;" cellpadding="0" cellspacing="0">
    <tr>
      <td class="t_sub" width="50%"><div align="left">&nbsp; 后台使用说明</div></td>
      <td class="t_sub">&nbsp;</td>
    </tr>
    <tr class="tr_out">
      <td colspan="2"><table cellpadding="0" cellspacing="0" class="admin"  >
          <tr>
            <td class="td1">基本功能</td>
            <td class="td1">辅助功能</td>
            <td class="td1">会员中心</td>
            <td class="td1">命令</td>
          </tr>
          <tr>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
          </tr>
          <tr>
            <td class="td2"><a href="http://www.taina365.com/download/ad/fenleiguanli.rar" >分类管理</a></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/wangzhanxinxi.rar">网站信息</a></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/huiyuanliebiao.rar">会员列表</a></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/mingling.rar">清空缓存</a></td>
          </tr>
          <tr>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
          </tr>
          <tr>
            <td class="td2"><a href="http://www.taina365.com/download/ad/momoxinxi.rar">某某信息</a></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/daohang.rar">导航</a></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/quanxianfenpei.rar">权限分配</a></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/mingling.rar">网站首页</a></td>
          </tr>
          <tr>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
            <td class="td2" align="center"></td>
            <td class="td2" align="center"><img src="images/kf_tp1.png" /></td>
          </tr>
          <tr>
            <td class="td2"><a href="http://www.taina365.com/download/ad/quanjuneirong.rar">全局内容</a></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/guanliyuan.rar">管理员</a></td>
            <td class="td2"></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/mingling.rar">退出</a></td>
          </tr>
          <tr>
            <td class="td2" align="center"></td>
            <td class="td2" align="center"><img src="images/kf_tp2.png" /></td>
            <td class="td2" align="center"></td>
            <td class="td2" align="center"></td>
          </tr>
          <tr>
            <td class="td2"></td>
            <td class="td3" colspan="3"><a href="http://www.taina365.com/download/ad/guanliyuan.rar">修改登陆密码</a></td>
          </tr>
          <tr>
            <td class="td2"></td>
            <td class="td2"><a href="http://www.taina365.com/download/ad/fujianguanli.rar">附件管理</a></td>
            <td class="td2"></td>
            <td class="td2"></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>
<div class="main" style=" display:none;">

  <form method="post" action="admin.php?c=ctrl&amp;f=gsetok&amp;id=8" onsubmit="return gchk('8');">
    <table cellpadding="0" cellspacing="0" class="ctrol">
    
      <tr>
        <td class="ctrol_z"><span class="red">*</span> 模块组名：</td>
        <td colspan="2" class="ctrol_y"><input type="text" id="title" name="title" value="泰纳科技"  /></td>
      </tr>
      <tr>
        <td><span class="red">*</span> 模块状态：</td>
        <td><input type="radio" name="status" value="1" checked>&nbsp;正常</td>
        <td><input type="radio" name="status" value="0">&nbsp;隐藏</td>
      </tr>
    </table>
    <div class="table">
      <input type="submit" value="提 交" class="btn3" id="phpok_submit" />
    </div>
  </form>
</div>

<!-- inc:footer -->